.workflow-details-actions .actions
{
   text-align: center;
}

.workflow-details-actions .actions span.first-child
{
   background: url("../images/workflow-16.png") no-repeat scroll 12px 4px transparent;
   padding-left: 22px;
}