os: linux
dist: xenial
language: java
jdk: openjdk11

git:
  depth: false
  quiet: true

services:
  - docker

import:
  - Alfresco/alfresco-process-tools:.travis.kubernetes_install.yml@master
  - Alfresco/alfresco-process-tools:.travis.helm_install.yml@master

cache:
  directories:
    - $HOME/.m2
# the cache can grow constantly
before_cache:
  - rm -rf $HOME/.m2/repository/org/alfresco/alfresco-share*
  - rm -rf $HOME/.m2/repository/org/alfresco/share*
  - rm -rf $HOME/.m2/repository/org/alfresco/alfresco-content-services-share-*
  - rm -rf $HOME/.m2/repository/org/alfresco/alfresco-wcmqs*

branches:
  only:
    - master
    - develop
    - /^SP\/.+$/
    - /.*\/APPS-.*$/

env:
  global:
    - REPO_TAG_NAME=7.0.0-M3
    - SHARE_TAG_NAME=latest
    # Release version has to start with real version (7.0.0-....) for the docker image to build successfully.
    - RELEASE_VERSION=7.0.0-A14
    - DEVELOPMENT_VERSION=7.0.0-SNAPSHOT
    - HOSTED_ZONE=dev.alfresco.me
    - KEEP_ENV=false

stages:
  - build
  - deploy
  - wait
  - tests
  - tearDown
  - release
  - company_release

before_install:
  - |
    pip install --upgrade awscli
    curl -o aws-iam-authenticator https://amazon-eks.s3.us-west-2.amazonaws.com/1.16.8/2020-04-16/bin/linux/amd64/aws-iam-authenticator
    curl -o aws-iam-authenticator.sha256 https://amazon-eks.s3.us-west-2.amazonaws.com/1.16.8/2020-04-16/bin/linux/amd64/aws-iam-authenticator.sha256
    openssl sha1 -sha256 aws-iam-authenticator
    chmod +x ./aws-iam-authenticator
    mkdir -p $HOME/bin && cp ./aws-iam-authenticator $HOME/bin/aws-iam-authenticator && export PATH=$PATH:$HOME/bin
    export PATH=$PATH:$HOME/bin
    aws eks update-kubeconfig --name appsTeam --region=eu-west-1

jobs:
  include:
    - name: "Build and Test"
      stage: build
      before_install: bash _ci/init.sh
      script: bash _ci/build.sh

#    - name: "White Source"
#      stage: build
#      # only on SP branches or master and if it is not a PR
#      if: fork = false AND (branch = develop OR branch =~ /support\/SP\/.*/ OR branch =~ /.*\/APPS-.*$/) AND type != pull_request
#      before_install: bash _ci/init.sh
#      script: travis_wait 30 bash _ci/whitesource.sh _ci/.wss-unified-agent.config

    - name: "Source Clear Scan (SCA)"
      stage: build
      # only on SP branches or master and if it is not a PR
      if: fork = false AND (branch = develop OR branch =~ /support\/SP\/.*/ OR branch =~ /.*\/APPS-.*$/) AND type != pull_request
      before_install: bash _ci/init.sh
      # Run Veracode
      install: skip
      script: travis_wait 30 bash _ci/source_clear.sh

    - name: "Deploy on K8s"
      stage: deploy
      install: skip
      script: bash _ci/deploy_k8s.sh

    - &test-staging
      name: "User and Authentication Tests"
      stage: tests
      jdk: openjdk11
      if: fork=false AND commit_message !~ /\[trigger company release|skip tests\]/
      before_install: bash _ci/init.sh
      install: skip
      script:
        - bash _ci/execute_share_web.sh "user-tests.xml"
      addons:
        chrome: stable
        artifacts:
            paths:
              - alfresco-tas-share-test/target/surefire-reports
              - alfresco-tas-share-test/target/reports
            target_paths: $TRAVIS_BUILD_NUMBER

    - <<: *test-staging
      name: "User and Site Dashboard Tests"
      script: bash _ci/execute_share_web.sh "user-and-site-dashboard-tests.xml"

    - <<: *test-staging
      name: "Admin Tools Tests"
      script: bash _ci/execute_share_web.sh "admin-tools-tests.xml"

    - <<: *test-staging
      name: "Content Tests"
      script: bash _ci/execute_share_web.sh "content-tests.xml"

    - name: "Delete environment"
      stage: tearDown
      install: skip
      script: bash _ci/delete-env.sh

    - name: "Release"
      stage: release
      if: fork=false AND commit_message =~ /\[release\]/ AND branch =~ /(master|develop|SP\/.+|HF\/.+)$/
      before_install: bash _ci/init_tag.sh
      script: travis_wait 30 _ci/maven_release.sh

    - name: "Company Release"
      stage: company_release
      if: fork=false AND commit_message =~ /\[trigger company release\]/ AND branch =~ /(master|SP\/.+|HF\/.+)$/
      before_install: bash _ci/init_tag.sh
      script: travis_wait 30 _ci/company-release.sh

notifications:
  slack:
    - rooms:
        - secure: "OIpmY02fOEhzLbp9EVjEpwERFtCz7vibXNN0WjzYp63M1UTrlUgoUh5wRWbE/VOyWryY4tFqA/jBpeirz+QyS6OAmM+DdtvKR6I4BVo8QwDBPAIHuoxz4xPDvCbfVsATrTNJvPhPE6tD5WYktZwnnDovoajnbJXQz1g20A8/IdC1ZrLrbHlu2LNc292HeObB53AEr0vADCawzCKIVjHRmhpHqkw4cPWArWbgIOnKTIi+kV18M1nl0GuB1GLg+ZUygilZ5YXh4OaRWZgdMsFk5E1xDtR1w4O/fLoJ8kJUCDs2aP8KRii4HvgJhydjIFMQ7ulmd+QUyY+mLcFSmP+LD7gKOwEnGk9goRibOTG9AlescJT6y1vN6111vkkiSwcvrjHVTJ+Jx1XLQpasjEMfLyJxiRCZaRfSl/Y2AxC6FFiIo9Eka6Vo9S8MCpLuiRCn4ars5BdhydixzLYiBHO3Nh2SnlskC6lSbtLhXNNwPBSXS9Ain5VkvTu4llppWEo3KNbxyQQwUUBIcRwPAaawrIZGlO81gHOA/w5jl/z0EeNkh8mu1rpqGdv5q3XV2La6FWU96D1azy3iNhFdNUIkv4JzCfoYka6IJhy+e/FLSo+/umlTS112IZyOaNitivcOPtFrokzjW/+mZ/ZGsQCP0cfgbqtwI64K6VaiAucpK5w="
      on_success: always
      on_failure: always
      on_pull_requests: false
      template:
        - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository_slug}@%{branch} by %{author} %{result} in %{duration}"
    - rooms:
        - secure: "ki0MCQMCREU62BH4dGElozATxt36rSL41YJdlTtk15vUA32dwEcCHadVmtG/QLWPUwa45jK7UIf+qJriubzlMMF7Pxpuo6xBye30WMSw4T+5c9NvVzjwjL9ZLPHIhypmxMS1ffAEPog4HHdiHI16I4bw1IS4wjtVMF4kRiqhJUY/voX/IqGImBveGhngw8nrxt+1RstcL9i9VTXSFq0sfHs75J8nbidg6v+PzbmEFoLHcI5Dzk7Nj049HgLh7vFdljMs/CxOnVo6sew92WRnkuRMDq8qlqSyfZpGaAHlidoIYU3lztWzYl474XjWZzxdv00EvIJ/hwL3CLZ7o2Eh4qRUjfmV6js3iRvHwPE9w4zT1En1ffInYQ+8MTtyhppb4E0EYqu5uPhcyYzS1UKt3jxinZFPpAfkG4IluaBw1lQ2gEymTL9ocdiNuwb6HgJcowisH353kfhAA7987kBA416vMtxvXMy+w8or/jKa6KqomdpyEQedf+amzDZ9izB8yAq0PPwZGcc7S4yNncCsCObRKWBZO+8oICD2d+jRf3lSByIW6KerefUItiaDf9ZTSHfRbij4ax7x+bJ4tORF0YGTt4lHv8YpsqsxhIcl2uxibwhKWYSd4ezdzovsaCId8/k/e3fP76laAP8gbQTofrksXhRnUN+qX4ihmiWk1i8="
      if: fork=false AND commit_message =~ /\[release\]/
      on_success: always
      on_failure: never
      on_pull_requests: false
      template:
        - "Release message"