<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="WQS Tests" verbose="6" preserve-order="true" >
    <groups>
        <run>

            <include name="EnterpriseOnly"/>
            <include name="WQS*"/>
            <exclude name=".*Bug42"/>
            <exclude name=".*Bug"/>
            <exclude name="chromeOnly"/>
            <exclude name="Hybrid"/>
            <exclude name="download"/>
        </run>
    </groups>

    <listeners>
        <listener class-name="org.alfresco.test.FailedTestListener"/>
    </listeners>


   <test name="BlogWQS">
        <packages>
            <package name="org.alfresco.test.wqs.web.blog"/>
        </packages>
    </test>
   <test name="ContactWQS">
        <packages>
            <package name="org.alfresco.test.wqs.web.contact"/>
        </packages>
    </test>
    <test name="NewsWQS">
        <packages>
            <package name="org.alfresco.test.wqs.web.news"/>
        </packages>
    </test>
    <test name="Share WQS">
        <packages>
            <package name="org.alfresco.test.wqs.share"/>
        </packages>
    </test>
    <test name="PublicationsWQS">
        <packages>
            <package name="org.alfresco.test.wqs.web.publications"/>
        </packages>
    </test>
    <test name="SearchWQS">
        <packages>
            <package name="org.alfresco.test.wqs.web.search"/>
        </packages>
    </test>
    <!--<test name="AweWQS">
        <packages>
            <package name="org.alfresco.test.wqs.web.awe"/>
        </packages>
    </test>-->
    <test name="MainWQS">
        <packages>
            <package name="org.alfresco.test.wqs.web"/>
        </packages>
    </test>

</suite>