/* this file contains styles for WHITE BLUE THEME */
body {
	background:#fff;
	color:#666666;	
}
h1, h2, h3 {
	color:#0875ba; /* these headers have blue colour */
}
h4 {
	color:#666666;
}
a {
	color:#0875ba; /* links have a blue colour */
}
a:hover {
	color:#0875ba;
}
input, textarea {
	background:#fff;
	border:1px solid #b9b9b9;
	color:#767676; /* this is the text in the input forms */
}
input:focus, textarea:focus {
	background:#f5f5f5;
}
blockquote {
	background:#f5f5f5;
	color:#a1a1a1;	/* text colour in the blockqoutes */
}
.article-body ol { 
    margin-left: 40px;
    list-style-type: decimal; 
}
.article-body ul { 
    margin-left: 40px;
    list-style-type: disc;
} 
.logo-desc, .header-desc { /* this is the italic text used an additional description for headers and detail pages */
	color:#cacaca; 
}
#logo a {/* this is the actual logo */
	background:url(logo.png) no-repeat;
}
.main-menu-wrapper {
	background:url(menu_decoration.gif) no-repeat bottom; /* this represents the line decoration for main menu */
}
.jqueryslidemenu ul li ul {
	border-top:1px solid #efefef; /* border top of first sub level menu */
}
.jqueryslidemenu ul li ul li ul {
	border-top:1px solid #efefef;
}

/* Added for ALF-14758 */
.jqueryslidemenu ul li ul li ul li ul {
    border-color: #cfcfcf;
}

.jqueryslidemenu ul li ul li a { 
	border-bottom:1px solid #efefef;
	border-left:1px solid #efefef;
	border-right:1px solid #efefef;
	background:#fff;
}

/* Added for ALF-14758 */
.jqueryslidemenu ul li ul li ul li ul li a {
    border-color: #cfcfcf;
}

.jqueryslidemenu ul li ul li a:hover { /* sub menus hover style */
	background:#fafafa;
	color:#0875ba;
}
.jqueryslidemenu ul li a {
	color:#7d7d7d;
}
.jqueryslidemenu ul li a:hover {
	background:#fff; /* background of tabs */
	color:#0875ba;
}
.jqueryslidemenu ul .selected a {
	color:#0875ba;
}
.slide-1-desc {
	background:#0875ba;
}
.slide-1-desc h1 {
	color:#fff;
}
.slide-1-desc p { /* text colour in the right side of home slider */
	color:#fff;
}
.slideshow-rm { /* learn more styles in the home slideshow */
	background:#fff url(slide_arrow.gif) no-repeat 7px 5px;
}
.slideshow-rm a {
	color:#0875ba;
}
.slideshow-rm:hover {
	background:#fff url(slide_arrow.gif) no-repeat 7px 5px;
}
.slideshow-rm a:hover {
	color:#0875ba;	
}
.slide-txt h3 a, .slide-txt h3 { /* color of text header(with link) with the semi-transparent black background */
	color:#fff;
	text-decoration:none;
}
#right .latest-news, #right .newsletter, #right .brochure, #right .tabular-block, #right .flickr, 
      #right .blog-categ, #right .services-box, #right .aboutus-box, #right .address-box, #right .facebook-like {
	border-left:8px solid #efefef; /* border colour that separates left from right container */
	padding-left: 10px;
}
.ln-list li h6 a, .ln-list li h6 a { /* colour for latest news headers box */
	color:#828282;
}
.ln-list li h6 a:hover {
	text-decoration:none;
}
/* hover backgrounds for home news list and brochure, these 2 should be the same but I wrote them separately just in case */
.ln-list li:hover {
	background:#f5f5f5;
}
.brochure:hover {
	background:#f5f5f5;
}
/* end hover backgrounds */

.ln-date,  /* latest news date colour */
 /* next 2 classes are for article's date and comments in the blog section */
.blog-misc, 
.blog-misc a,
.blog-list-misc, 
.blog-list-misc a,
.ih-rss a, /* rss text on news page */
.newslist-date /* news date text on news page */ { 
	color:#a1a1a1;
}
.copyright a { 
    color:#666666;
}
.newslist-cat{
	color:#0875BA;
}
/* START: read more / reverse arrow button that is found in the normal body gets those properties */
.body-rm { 
	background:#a3a3a3 url(input_arrow.gif) no-repeat 3px 1px;
}
.body-rm a {
	color:#fff;
	text-decoration:none;
}
.body-rm a:hover {
	color:#fff;
}
.body-rm:hover { /* read more button hover styles */
	background:#0875ba url(input_arrow.gif) no-repeat 3px 1px;
}
.reverse-arrow { /* button with reversed arrow style, used for pagination */
	background:#a3a3a3 url(reverse_arrow.gif) no-repeat 3px 1px;
}
.reverse-arrow a {
	color:#fff;
	text-decoration:none;
}
.reverse-arrow:hover {
	background:#0875ba url(reverse_arrow.gif) no-repeat 3px 1px;
}
/* END: read more body buttons styles */

/* START footer styles */
#footer {
	background:url(footer_decoration.gif) no-repeat top center; /* this represents the line decoration for footer */
}
#footer ul li a { /* footer menu normal state colours */
	color:#666666;
}
#footer ul li a:hover { /* footer menu hover state colours */
	color:#0875ba;
}
/* END footer styles */

.interior-header {
	background:#f5f5f5;
}
.intheader-paragraph {
	color:#a1a1a1;
}
#left .interior-content .interior-list li {
	background:url(body_arrow.gif) no-repeat 3px 6px;
}
/* START table styles */
.tbl thead tr td { /* table header background */
	background:#a3a3a3;	
	color:#fff;
}
.tbl tbody tr td { /* table row line */
	border-bottom:1px solid #dadada;
}
.tbl .odd td { /* table background for odd rows 1, 3, 5... */
	background:#fff;
}
.tbl .even td { /* table background for even rows 2, 4, 6... */
	background:#f5f5f5;
}
/* END table styles */

/* START tabular data */
.ui-tabs .ui-tabs-nav li a {
	/* default tab */
	background:#efefef;
	color:#828282;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background:#a3a3a3;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
	/* active or selected tab */
	background-color:#a3a3a3;
	color:#fff;
}
/* END tabular data */
.img-border {
	border:6px solid #efefef;
}
.img-border:hover {
	border:6px solid #cacaca;
}
.blog-misc a:hover {
	text-decoration:underline;
}
/* general input buttons for search and newsletter forms, they might have same styles with blog/comments submit buttons */
.input-arrow {
	background:#a3a3a3 url(input_arrow.gif) no-repeat;
}
.input-arrow:hover { /* mouseover colour on submit arrow for forms */
	background:#0875ba url(input_arrow.gif) no-repeat;
}
/* START blog comment form styles */
.bc-submit, .contact-submit {
	background:#a3a3a3 url(input_arrow.gif) no-repeat;
	color:#fff;
}
.bc-submit:hover, .contact-submit:hover {
	background:#0875ba url(input_arrow.gif) no-repeat;
}
/* END blog comment form styles */

/* START blog right menu */
.blog-categ ul li a {
	border-bottom:1px solid #efefef;	
	color:#828282;
}
.blog-categ ul li a:hover {
	background:#f5f5f5;
	border-bottom:1px solid #cacaca;
	color:#0875ba;	
	text-decoration:none;
}
/* END blog right menu */
.blog-entry h2 a {
	color:#0875ba;
	text-decoration:none;
}
.pagination .page-number {
	color:#a1a1a1;
}
.services-box-list li, .tag-list li {
	background:url(body_arrow.gif) no-repeat 3px 6px;
}
.address-box span {
	color:#a7a7a7;
}
.address-box address span {
	color:#666666;
}
#left .interior-content .newslist-wrapper li h4 a, .portfolio-wrapper li h4 a {
	color:#666666;	
	text-decoration:none;
	/* these styles apply to header titles from list news and portfolio list */
}
.h-services-list li {
	background:url(body_arrow.gif) no-repeat 2px 5px;
}
/* error messages styles */
.contact-error {
	border:1px solid #eda0a0;
	background:#fde3e3;
}
.contact-error-value {
    color: #CC3333;
}
.contact-success {
	border:1px solid #bae5cb;
	background:#daffe9;
}
.contact-jerror {
	color:#ff502d;
	float:left;
	line-height:16px;
	margin:0 0 0 10px;
	width:180px;
}