.profile .photorow
{
   border-bottom: 1px dashed #E9E9E9;
   padding: 0.5em 0.5em;
   margin-bottom: 0.5em;
}

.profile .photo
{
   float: left;
   text-align: center;
   width: 80px;
}

.profile .namelabel,
.profile .titlelabel
{
   margin-left: 80px;
}

.profile .namelabel
{
   font-size: 123.1%;
   line-height: 1.7em;
}

.profile .row
{
   padding: 0.25em 0.5em;
   min-height: 1.5em;
   clear: both;
}

.profile .user-status
{
   float: left;
   min-width: 32%;
   min-height: 1.5em;
   margin: 0.5em 0 0.5em 0.5em;
}

.profile .fieldlabel
{
   float: left;
   min-width: 32%;
   min-height: 1.5em;
}

.profile .fieldvalue
{
   float: left;
   min-height: 1.5em;
   min-width: 66%;
}
