.people-finder
{
   margin: 10px 0px;
}

.invitationlistwrapper .title,
.people-finder .title
{
   visibility: hidden;
   height: 0;
}

.alf-invite-require-acceptance .people-finder .title,
.alf-invite-require-acceptance .invitationlistwrapper .title
{
   visibility: visible;
   height: auto;
   font-size: 108%;
   padding: 10px 0px 10px 34px;
}

.alf-invite-require-acceptance .people-finder .title
{
   background: transparent url(images/step-one.png) no-repeat 3px center;
}

.alf-invite-require-acceptance .invitationlistwrapper .title
{
   background: transparent url(images/step-two.png) no-repeat 3px center;
}

.alf-invite-direct-add .people-finder .search-bar
{
   padding-left: 26px;
   background: #f5f5f5 url(images/step-one.png) no-repeat 3px center;
}

.alf-invite-direct-add .invitationlist .invitelist-bar
{
   text-align: right;
   background: #f5f5f5 url(images/step-two.png) no-repeat 3px center;
}

.added-users-list .added-users-list-bar
{
   background: url(images/step-two.png) no-repeat 3px center;
}

.alf-invite-direct-add .yui-u
{
   margin-left: 0.5%;
}

.alf-invite-direct-add .column1
{
   width: 35%;
}

.alf-invite-direct-add .column2
{
   width: 45%;
}

.alf-invite-direct-add .column3
{
   width: 19%;
}

.alf-invite-direct-add .instructions-bar
{
   padding-left: 10px;
   padding-top: 10px;
}