/** Comment list */

.commentFooter
{
   margin-top: 20px;
}

.comment
{
   border-top: 1px dashed #b1b1b1;
   margin: 0 20px;
   padding: 10px;
   display: inline-block;
}

html>body .comment
{
   display: block;
}

.comment-list
{
   margin-right: 10px;
}

.comment-list .commentsListTitle
{
   float: left;
   background: transparent url(../images/comment-16.png) no-repeat scroll 20px 50%;
   font-size: 116%;
   padding: 20px 0pt 20px 40px;
}

.comment-list .paginator
{
   float: right;
   margin: 0;
}

.comment-list .align-right
{
   text-align: right;
}

.comment-list .yui-pg-container
{
   padding: 20px 25px 20px 0;
}

.editCommentForm
{
   margin: 20px;
   padding: 20px;
   border-top: 1px solid #b1b1b1;
   background-color: #fafafa;
}

/* YUI WYSIWYG editor styles */

.yuieditor strong
{
   font-weight: bold;
}

.yuieditor em
{
   font-style: italic;
}

.yuieditor ul, .yuieditor ol
{
   padding-left: 40px;
}

.yuieditor ul li
{
   list-style-type: disc;
}

.yuieditor ol li
{
   list-style-type: decimal;
}