/* Center text and buttons inside p elements */
.revert-version p
{
   text-align: center;
}

/* General styling */

.yui-panel-container .revert-version
{
   width: 440px;
}

.revert-version .yui-gd div.first
{
   width: 10.5em;
}

.revert-version textarea
{
   width: 20em;
}
