.about-share .hd
{
   display: none;
}

.about-share .logo
{
   width: 501px;
   height: 249px;
   background-position: 0 1px;
   background-repeat: no-repeat;
   border: 0;
   margin: 0;
   padding: 0;
}

.about-share .logo-com
{
   background-image: url('images/about-bg.png');
}

.about-share .logo-team
{
   background-image: url('images/about-bg-team.png');
}

.about-share .logo-ent
{
   background-image: url('images/about-bg-enterprise.png');
}

.about-share .logo-vanilla
{
   background-image: url('images/about-bg-vanilla.png');
}

.about-share .about
{
   color: #666;
   padding-left: 12px;
   padding-top: 48px;
}

.about-share .header
{
   font-size: 131%;
   padding-top: 8px;
}

.about-share .copy
{
   color: #000;
   font-size: 77%;
   margin-top: 0.5em;
}

.about-share .licenseHolder
{
   margin-top:0.5em;
   margin-bottom: 0.5em;
}

.about-share .licenseHolder span
{
   font-size: 110%;
}

.about-share .contributions-bg
{
   position: absolute;
   width: 200px;
   z-index: 1;
   box-shadow: inset 0px 12px 6px -8px #fff, inset 0px -12px 6px -8px #fff;
}

.about-share .contributions-wrapper
{
   color: #333;
   font-size: 85%;
   overflow: hidden;
}

.about-share .contributions-bg,
.about-share .contributions-wrapper
{
   height: 55px;
}

.about-share .contributions
{
   margin-top: 70px;
   padding-bottom: 70px;
   display: none;
   position: relative;
   padding-left: 2px;
}

.about-share
{
   box-shadow: 0 0 16px 4px #444;
}
