/****************
 * NODE DETAIL *
*****************/
.topicview {
  border: 2px solid #e0e0e0;
  margin: 20px;
  margin-bottom: 0px;
}
.node .authorPicture, .reply .authorPicture, .comment .authorPicture {
  text-align: center;
  margin-right: 10px;
  width: 100px;
  position: relative;
  float: left;
}
.topicview .nodeFooter,.postview .nodeFooter
{
  background: transparent;
  border: none;
}
.topicview .nodeContent, .comment .nodeContent, .reply .nodeContent {
  margin-left: 110px;
}

.topicview .nodeFooter, .comment .commentFooter, .reply .nodeFooter {
  margin-left: 110px;
}

.alfresco-share .sticky-wrapper .reply .content ul,
.alfresco-share .sticky-wrapper .reply .content ol,
.alfresco-share .sticky-wrapper .topicview .content ul,
.alfresco-share .sticky-wrapper .topicview .content ol
{
    padding: 0.5em 0 0.5em 1.3em;
}


/********
 * NODE *
*********/
.node, .reply, .comment {
  padding: 20px 10px;
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
}
html>body .node, .reply, .comment {
  display: block;
}
.node table td,
.reply table td,
.comment table td {
  vertical-align: top;
}
.node.simple{
  padding: 5px;
}

.node .published {
  margin: 5px 0 10px 0;
}

.node .nodeTitle a {
  font-weight: normal;
  font-size: 131%;
  line-height: 130%;
  color: #2b6eb5;
}

.node .nodeStatus {
  font-weight: normal;
  font-size: 131%;
  line-height: 130%;
}

.nodeAttrLabel {
  font-weight: normal;
  font-size: 100%;
  line-height: 130%;
  color: #606060;
}
.nodeAttrValue {
  font-weight: normal;
  font-size: 100%;
  line-height: 130%;
  color: #333333;
}
.nodeAttrValue a {
  color: #2b6eb5;
}
.node .userLink {
  font-size: 100%;
  line-height: 150%;
  color: #999999;
}
.nodeContent {
  padding-right: 40px;
  font-weight: normal;
  font-size: 100%;
  line-height: 150%;
  margin-right: 140px;
}

.nodeFooter
{
  background-color: #f8f8f8;
  border-top: 1px dashed #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  padding: 0.5em;
}

.nodeFooter .tagLabel
{
  background: transparent url(../images/tag-16.png) no-repeat scroll 0 0;
  padding-left: 20px;
}

.nodeFooter .separator
{
   border-right: 1px dotted #457A9C;
   margin-right: 10px;
   padding-left: 10px;
}

.replyTo
{
  background: transparent url(../images/reply-to-discussion-16.png) no-repeat scroll 0 0;
  padding-left: 20px;
}

.replyTitle
{
   padding: 8px 0 0 8px;
   font-size: 108%;
}


/*************
 * EDIT BLOC *
**************/
.nodeEdit
{
   float: right;
   margin: 10px 0 0 15px;
   position: relative;
   min-width: 6em;
   width: auto;
}

.nodeEdit div, .replyEdit div
{
  padding: 2px 0;
  margin-bottom: 4px;
}
.node.simple .nodeEdit {
  width: 200px;
}
.nodeEdit .action-link {
  font-weight: normal;
  font-size: 93%;
  line-height: 150%;
  color: #2B6EB5;
}

.nodeEdit .onViewNode {
  background: url(../images/view-discussion-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}
.nodeEdit .onAddReply {
  background: url(../images/reply-to-discussion-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}
.nodeEdit .onEditNode,
.nodeEdit .onEditReply,
.nodeEdit .onEditComment {
  background:url(../images/edit-discussion-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}
.nodeEdit .onEditBlogPost {
  background:url(../images/edit-blog-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}
.nodeEdit .onDeleteNode,
.nodeEdit .onDeleteReply,
.nodeEdit .onDeleteComment {
  background: url('images/delete-discussion-16.png') no-repeat scroll 0 2px;
  padding-left: 20px;
}
.nodeEdit .onDeleteBlogPost {
  background: url('images/delete-blog-16.png') no-repeat scroll 0 2px;
  padding-left: 20px;
}
.nodeEdit .onUpdateExternal {
  background: url(../images/update-external-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}
.nodeEdit .onPublishExternal {
  background: url(../images/publish-external-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}
.nodeEdit .onUnpublishExternal {
  background: url(../images/unpublish-external-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}

/********
 * FORM *
*********/
.editReplyForm {
  margin: 4px;
  padding: 4px;
}
.editReplyForm label {
  width: 100px;
  float: left;
  text-align: right;
  clear: left;
  margin: 5px 15px 7px 0;
}
.editReplyForm input, .editReplyForm textarea {
  margin-bottom: 15px;
}
.editReplyForm .yui-editor-container {
  margin: 0px 0px 10px 114px;
}
.editReplyForm .nodeFormAction {
  margin-top: 24px;
}


/*******************
 * WYSIWYG CONTENT *
********************/
.yuieditor strong {
  font-weight: bold;
}
.yuieditor em {
  font-style: italic; 
}
.yuieditor ul, .yuieditor ol {
  padding-left: 40px;
}
.yuieditor ul li {
  list-style-type: inherit; 
}
.yuieditor ol li {
  list-style-type: inherit; 
}


/***********
 * REPLIES *
************/
.reply .nodeFooter {
	background:  transparent;
	border: none;
	margin-top: 5px;
}
.indented {
	margin-left: 30px;
}
